# Fichiers de données brutes
/data-68ed/data
/data-68ed/__MACOSX

# Environnement virtuel
venv/

# Fichiers Python compilés
__pycache__/

# Fichiers générés
sales.db
daily_summary/
mini_data/
warehouse/
.ipynb_checkpoints
.pytest_cache
.Trash-0